{{template "base" .}}

{{define "content"}}
<div class="container mt-3">
    <div class="row">
        <div class="col">
            <img src="/static/images/generals-quarters.png" class="img-fluid img-thumbnail mx-auto d-block room-image"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1 class="text-center mt-4">Welcome to General's Quarters.</h1>
            <p>Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vaccation
                to remember!
                Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vaccation
                to remember!
                Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vaccation
                to remember!
                Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vaccation
                to remember!
                Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vaccation
                to remember!
                Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vaccation
                to remember!
                Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vaccation
                to remember!
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>This is some text. This is some text. This is some text. This is some text. This is some text. </p>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <a id="check-availability-button" href="#!" class="btn btn-success">Check Availability</a>
        </div>
    </div>
</div>

{{end}}

{{define "js"}}
<script>
    document.getElementById("check-availability-button").addEventListener("click", function () {
        let html = `
                    <form id="check-availability-form" action="" method="post" novalidate class="needs-validation search-form">
                        <div class="row">
                            <div class="col">
                                <div class="d-flex flex-row" id="reservation-dates-modal">
                                    <div class="p-1">
                                        <input required class="form-control" type="text" name="start" id="start" placeholder="Arrival" autocomplete="off">
                                    </div>
                                    <div class="p-1">
                                        <input required class="form-control" type="text" name="end" id="end" placeholder="Departure" autocomplete="off">
                                    </div>
                                </div>
                            </div>
                        </div>    
                    </form >
                `
        attention.custom({ 
            msg: html, 
            title: 'Choose your dates',
            callback: function(result){
                console.log("called");
                fetch('/search-availability-json')
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    console.log(data.ok);
                    console.log(data.message);
                })
            }
        });
    })

</script>
{{end}}