{{template "base" .}}

{{define "content"}}
<div class="container mt-3">
    <div class="row">
        <div class="col">
            <img src="/static/images/marjors-suite.png" class="img-fluid img-thumbnail room-image mx-auto d-block"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1 class="text-center mt-4">Welcome to Major's Suite.</h1>
            <p>Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vaccation
                to remember!
                Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vaccation
                to remember!
                Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vaccation
                to remember!
                Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vaccation
                to remember!
                Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vaccation
                to remember!
                Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vaccation
                to remember!
                Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vaccation
                to remember!
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>This is some text. This is some text. This is some text. This is some text. This is some text. </p>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <a href="/make-reservation-ms" class="btn btn-success">Check Availability</a>
        </div>
    </div>
</div>
{{end}}
